@import '../../styles/variables';
.headerContainer {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background: $primary-color;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0 40px;
  box-shadow: 0 2px 4px -1px $box-shadow2, 0 4px 5px 0 $box-shadow1,
    0 1px 10px 0 $box-shadow;
  z-index: 1;
  .title {
    font-size: 1.5rem;
    color: $white-color;
    padding: 0 10px;
  }
}
