@import '../../styles/variables';
.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1600;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  svg {
    display: inline-block;
    animation: loaderRotation 1s linear infinite;
  }
}
