@import './_variables';
body {
  font-family: $font;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
* {
  outline: none;
}
