@import '../../styles/variables';
.categoryCard {
  box-shadow: 0 0 31px 0 $box-shadow;
  padding: 20px 0;
  width: 30%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  box-sizing: border-box;
  flex-wrap: wrap;
  &:hover {
    transform: scale(1.05);
    color: $primary-color;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 767px) {
  .categoryCard {
    width: 100%;
    font-size: 0.9rem;
  }
}
